body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg, #0f0f1a, #1a103d, #2c145d, #1a103d);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease-in-out infinite;
    -webkit-animation: gradientAnimation 10s ease-in-out infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 50% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    75% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}